<mat-toolbar color=primary>
  <span class="title-center">Command and Control</span>
</mat-toolbar>



<mat-grid-list cols="2" rowHeight="2:1">
  
  <mat-grid-tile>
    <mat-card class="padding">
      <mat-card-header>
        <mat-card-title>MAP</mat-card-title>
        <mat-card-subtitle>Geographic representation</mat-card-subtitle>    
      </mat-card-header>
    
      <mat-card-content>
        <p>Aquí un mapa con las localizaciones de las IPs</p>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="padding">
      <mat-card-header>
        <mat-card-title>DEVICES</mat-card-title>
        <mat-card-subtitle>List of zombies devices</mat-card-subtitle>    
      </mat-card-header>
    
      <mat-card-content>
        <p>Aquí iría una lista con los nombres y las IPs de los dispositivos</p>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
