<mat-toolbar color=primary>
  <span class="title-center">💻 Command and Control 💻</span>
</mat-toolbar>



<mat-grid-list cols="2" rowHeight="2:1">
  
  <mat-grid-tile>
    <mat-card class="padding">

      <mat-card-header>
        <mat-card-title>MAP</mat-card-title>
        <mat-card-subtitle>Geographic representation</mat-card-subtitle>    
      </mat-card-header>
      
      <app-map></app-map>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="padding">

      <mat-card-header>
        <mat-card-title>DEVICE INFO</mat-card-title>
        <mat-card-subtitle>Device info</mat-card-subtitle>    
      </mat-card-header>
    
      <mat-card-content>
        <p>Aquí va información del dispositivo que se haya clickado</p>
      </mat-card-content>
    
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=2>
    <mat-card>
      <app-http-client></app-http-client>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>


